{% extends 'base.html' %}
{% block title %}Add Match{% endblock %}
{% load static %}
{% load form_extras %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/round.css' %}">
    <script src="{% static 'js/bets.js' %}"></script>
{% endblock %}



{% block content %}
    <div class="d-flex flex-fill row">
        <h1 class="text-center">Upcoming Matches - Round {{round}}</h1>

        <ul class="pagination  round-navigation">
            <li class="page-item"><a class="page-link" href="{% url 'upcoming_matches' %}?round={{ previous_round }}">&larr;</a></li>
            <li class="page-item"><a class="page-link">Round {{round}}</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'upcoming_matches' %}?round={{ next_round }}">&rarr;</a></li>
        </ul>

    {% for match in matches %}
        <div class="col-12 mb-4">
            {% include 'matches/match_listing.html' %}
        </div>
    {% endfor %}

        <!-- Buttons to submit bets -->
        <div class="div d-flex justify-content-between mb-3">
            <button class="btn btn-primary" onClick="submitBets()">Submit Bets</button>
            <button class="btn btn-danger" onClick="clearBets()">Clear Bets</button>
        </div>
    </div>
    {% endblock %}