/.vscode
/Pipfile
/Pipfile.lock
/*/__pycache__/*.cpython-313.pyc
*/*/__pycache__/*.cpython-313.pyc
*\__pycache__\*.cpython-313.pyc
NrlBetting_django/__pycache__/settings.cpython-313.pyc
NrlBetting_django/__pycache__/urls.cpython-313.pyc
