{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="jumbotron bg-light">
        <h1 class="display-4">Welcome to NRLBets!</h1>
        <p class="lead">The best place to bet on your favorite NRL games, with virtual credits to test your skills!</p>
        <hr class="my-4">
        <p>Get started by viewing upcoming matches or creating an account to track your bets.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">View Matches</a>
    </div>
</div>
{% endblock %}